/* ===== Header ===== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  transform: rotate(180deg);
}

header .container {
  width: 1400px;
  height: 100%;
}

.header-main, .header-sub {
  transform: rotate(-180deg);
}

/* Header Main (Bottom) */
.header-main {
  background-color: #fff;
  position: relative;
  height: 100px;
  border-bottom: 1px solid #e1e1e1;
}

header .logo {
  float: left;
  margin-top: 13px;
}

/* GNB */
.gnb {
  float: left;
  margin-left: 130px;
}

.menu {
  font-size: 18px;
  font-weight: 500;
}

.menu-item {
  float: left;
}

.menu-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  line-height: 100px;
  overflow: hidden;
}

.menu-link::after {
  content: "";
  background-color: #550adf;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 15px;
  height: 15px;
  opacity: 0;
  transform: translate(-50%, 50%) rotate(45deg);
}

.menu-item:hover .menu-link::after {
  opacity: 1;
}

.menu-cont {
  background-color: #fff;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  overflow: hidden;
}

.menu-item:hover > .menu-cont {
  border-top: 2px solid #550adf;
  height: 335px;
}

.menu-cont .container {
  background: url(../assets/gnb_openDiv_bg.jpg) no-repeat right bottom / auto;
}

.today-info {
  float: left;
  width: 222px;
  height: 100%;
  padding-top: 50px;
  margin-right: 60px;
  border-right: 1px solid #e1e1e1;
}

.today-time {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.today-time::before {
  content: url(../assets/icon/gnb_timeInfo_bg.png);
  display: block;
  margin-bottom: 20px;
}

.today-time .date {
  display: block;
  color: #888;
  font-size: 16px;
}

.today-time em {
  display: block;
  font-weight: 700;
}

.today-time .time {
  margin-top: 25px;
}

.depth2 {
  height: 100%;
  width: fit-content;
  padding-top: 45px;
  line-height: 1;
  float: left;
}

.depth2-item {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
}

.depth2-item:hover {
  color: #550adf;
  border-bottom-color: #550adf;
}

.depth2-item ~ .depth2-item {
  margin-top: 10px;
}

.depth2-link {
  position: relative;
  display: block;
  min-width: 180px;
  padding: 5px 30px 18px 0;
}

.depth2-link::after {
  content: url(../assets/icon/gnb_twoD_bg.png);
  position: absolute;
  top: 3px;
  right: 10px;
  opacity: 0;
}

.depth2-item:hover .depth2-link::after {
  opacity: 1;
}

.depth3 {
  position: absolute;
  top: -8px;
  left: 100%;
  display: none;
  color: #555;
  font-size: 16px;
  font-weight: 300;
}

.depth2-item:hover .depth3 {
  display: block;
}

.depth3-item {
  padding: 8px 0 8px 30px;
}

.depth3-item:hover {
  color: #550adf;
}

.depth3-link {
  display: block;
  width: 200px;
  padding-left: 20px;
  line-height: 1.8;
}

.app-ad {
  background: url(../assets/gnb_appDown_bg.png) no-repeat right bottom;
  float: right;
  width: 270px;
  height: 100%;
}

.app-ad-link {
  display: block;
  height: 100%;
  padding: 30px;
  color: #fff;
}

.app-ad-text::after {
  content: url(../assets/icon/gnb_appDown_icon.png);
  display: block;
  margin-top: 35px;
}

.app-ad-tit {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}

.app-ad-tit em {
  color: #ffc600;
}

.app-ad-list {
  margin-top: 10px;
  font-size: 15px;
  line-height: 22px;
}

.app-ad-list li {
  position: relative;
  padding-left: 13px;
}

.app-ad-list li::before {
  content: "";
  background: url(../assets/icon/appDown_list_icon.gif) no-repeat 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  height: 3px;
  transform: translateY(-50%);
}

/* Util Menu */
.util-menu {
  float: right;
  margin-top: -4px;
  color: #550adf;
  transform: translateY(50%);
}

.util-menu-item {
  display: inline-block;
  width: 45px;
  text-align: center;
  vertical-align: text-bottom;
} 

.util-menu-item ~ .util-menu-item {
  margin-left: 20px;
}

.util {
  width: 100%;
}

.util::before {
  display: block;
  padding-bottom: 8px;
}

.util-srch::before {
  content: url(../assets/icon/header_srch_btn.png);
}

.util-ticket::before {
  content: url(../assets/icon/reser_btn.png);
}

.util-group::before {
  content: url(../assets/icon/group_btn.png);
}

.util-company::before {
  content: url(../assets/icon/company_btn.png);
}

.util-mall::before {
  content: url(../assets/icon/product_btn.png);
}

/* Header Sub (Top) */
.header-sub {
  background-color: #f8f8f8;
  height: 47px;
  color: #555;
  font-size: 15px;
  line-height: 47px;
  border-bottom: 1px solid #e1e1e1;
}

.header-sub li {
  position: relative;
  float: left;
}

.h-family-site {
  float: left;
}

.h-family-site .division-line {
  margin-left: 20px;
  padding-left: 20px;
}

.h-family-site a {
  display: block;
  background: url(../assets/icon/header_sky_icon.png) no-repeat 0 50%;
}

.h-family-site .sky a {
  padding-left: 27px;
}

.h-family-site .aqua a {
  padding-left: 34px;
  background-image: url(../assets/icon/header_aqua_icon.png);
}

.h-family-site .park a {
  padding-left: 33px;
  background-image: url(../assets/icon/header_water_icon.png);
}

.h-family-site .busan a {
  padding-left: 43px;
  background-image: url(../assets/icon/header_busan_icon.png);
}

.util-menu2 {
  float: right;
}

.util-menu2 > ul {
  float: left;
}

.util-menu2 .division-line {
  margin-left: 8px;
  padding-left: 8px;
}

.util-menu2 .division-line::before {
  height: 13px;
}

.h-family-site2 {
  color: #000;
}

.h-family-site2 ~ ul {
  margin-left: 25px;
}

.h-users {
  font-weight: 500;
}

.h-lang button {
  background: url(../assets/icon/lang_arrow.png) no-repeat 100% 50%;
  font-weight: 500;
  padding-right: 17px;
}

.h-lang:hover button {
  background-image: url(../assets/icon/lang_arrow_on.png);
  color: #550adf;
}

.select-lang {
  background-color: #fff;
  position: absolute;
  top: 98%;
  right: -5px;
  padding: 5px 10px;
  max-height: 0;
  height: 0;
  line-height: 1;
  border: 1px solid transparent;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out;
}

.h-lang:hover .select-lang {
  max-height: 100px;
  height: auto;
  opacity: 1;
  border-color: #e1e1e1;
}

.select-lang li {
  float: none;
  margin: 5px 0;
}

.select-lang a {
  display: block;
  padding: 8px;
  text-indent: 30px;
  background: url(../assets/icon/lang_icon1.gif) no-repeat 6px 50%;
}

.select-lang .eng {
  background-image: url(../assets/icon/lang_icon2.gif);
}

/* ===== Main ===== */
main {
  margin-top: 147px;
}

/* Main Visual Section */
.main-visual img {
  width: 100%;
}

.banner-pagination-wrap {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  z-index: 10;
}

.banner-pagination.swiper-pagination {
  position: static;
  width: fit-content;
  padding: 10px 60px 10px 30px;
}

.banner-dot.swiper-pagination-bullet {
  background-color: transparent;
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  transform: translateY(-40%);
  margin: 0 5px !important;
}

.banner-dot.swiper-pagination-bullet-active {
  background-color: #fff;
}

.btn-play {
  background: rgba(0,0,0,0.2) url(../assets/icon/play_bt.png) no-repeat center / contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.btn-play.on {
  background-image: url(../assets/icon/play_bt_on.png);
}

.banner-btn-wrap {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(100% - 80px);
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 1;
}

.banner-btn {
  background: no-repeat center / contain;
  width: 70px;
  height: 70px;
}

.banner-btn-next {
  background-image: url(../assets/icon/imgRoll_next.png);
  position: absolute;
  right: 0;
}

.banner-btn-next:hover {
  background-image: url(../assets/icon/imgRoll_next_on.png);
}

.banner-btn-prev {
  background-image: url(../assets/icon/imgRoll_prev.png);
}

.banner-btn-prev:hover {
  background-image: url(../assets/icon/imgRoll_prev_on.png);
}

/* Today Section */
.today-sec {
  border-bottom: 1px solid #e1e1e1;
}

.time-box {
  padding: 30px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}

.time-box a {
  position: relative;
  padding-left: 50px;
}

.time-box a::before {
  content: url(../assets/icon/mainTodayArea_tit_icon.png);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
}

.time-box span {
  margin-right: 23px;
}

/* Event Section */
.event-sec {
  padding: 120px 0;
}

.event-sec .sec-main {
  margin-top: 60px;
}

.event-item {
  background-color: #fff;
  position: relative;
  float: left;
  width: calc(100% / 4);
  outline: 1px solid #dedede;
}

.event-link {
  background-color: #fff;
  position: relative;
  display: block;
  padding: 30px;
  padding-bottom: 40px;
}

.event-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: 100%;
  outline: 2px solid #550adf;
  opacity: 0;
  z-index: 5;
  transition: .3s ease-in-out;
}

.event-link:hover::after {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .1), 25px 25px 30px rgba(0, 0, 0, .1);
  opacity: 1;
}

.event-info {
  margin-top: 30px;
  transform: rotate(180deg);
}

.event-info .tit {
  display: block;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: rotate(-180deg);
  transition: color .2s ease;
}

.event-link:hover .event-info .tit {
  color: #550adf;
}

.event-info .price {
  display: block;
  margin-top: 20px;
  color: #550adf;
  font-size: 18px;
  transform: rotate(-180deg);
}

.event-sec .btn-wrapper {
  margin-top: 60px;
}

/* Show Section */
.show-sec {
  background: url(../assets/mainCon2_bg_20220103.jpg) no-repeat 0 0 / cover;
  padding: 120px 0;
}

.show-sec .sec-tit, 
.show-sec .sec-desc {
  color: #fff;
}

.show-sec .sec-main {
  overflow: hidden;
  padding: 0 22px;
  margin-top: 120px;
}

.show {
  width: max-content;
}

.show-item {
  float: left;
  width: 276px;
  height: 350px;
  background: url(../assets/show/show_thumbnail_01.jpg) no-repeat 0 0;
}

.show-item ~ .show-item {
  margin-left: 22px;
}

.show-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../assets/show/show_thumbnail_01.jpg) no-repeat 0 0;
}

.show-item:nth-child(2) .show-link {
  background-image: url(../assets/show/show_thumbnail_02.jpg);
}

.show-item:nth-child(3) .show-link {
  background-image: url(../assets/show/show_thumbnail_03.jpg);
}

.show-item:nth-child(4) .show-link {
  background-image: url(../assets/show/show_thumbnail_04.jpg);
}

.show-item:nth-child(5) .show-link {
  background-image: url(../assets/show/show_thumbnail_05.jpg);
}

.show-item:nth-child(6) .show-link {
  background-image: url(../assets/show/show_thumbnail_06.jpg);
}

.show-item:nth-child(7) .show-link {
  background-image: url(../assets/show/show_thumbnail_07.jpg);
}

.show-item.m-o-shadow:hover::before {
  transform: scale(1);
}

.show-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .8));
}

.show-name {
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: calc(100% - 60px);
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

.show-link:hover .show-name {
  font-weight: 500;
}

.show-sec .btn-wrapper {
  margin-top: 120px;
}

.show-sec .btn {
  width: 220px;
  padding: 0;
}

.show-sec .btn-fill-white {
  margin-right: 20px;
}

/* Attraction Section */
.attraction-sec {
  background: url(../assets/mainCon3_bg.jpg) no-repeat 0 0 / cover;
  padding: 120px 0;
}

.attraction-sec .sec-main {
  margin-top: 40px;
}

.attraction-sec .tab {
  height: 822px;
}

.attraction-sec .tab-item ~ .tab-item {
  margin-left: 15px;
}

.attraction-sec .tab-item .btn {
  padding: 0 20px;
  font-weight: 700;
  cursor: pointer;
  height: 44px;
}

.attraction-sec .tab-radio:not(:checked) + label.btn {
  color: #555;
  font-weight: 300;
  outline: 1px solid #c4c4c4;
  border-color: transparent;
}

.attraction-sec .tab-content {
  height: 720px;
  margin-top: 60px;
}

.attraction {
  margin: 0 -11px;
}

.attraction-item {
  float: left;
  width: 276px;
  margin: 0 11px;
}

.attraction-item:nth-child(1),
.attraction-item:nth-child(2),
.attraction-item:nth-child(3) {
  margin-bottom: 22px;
}

.attraction-item.wide {
  width: 574px;
}

.attraction-link{
  position: relative;
  display: block;
}

.attraction-item.m-o-shadow:hover::before {
  transform: scale(1);
}

.attraction-img-box {
  height: 246px;
  overflow: hidden;
}

.attraction-img-box img {
  width: 100%;
}
.attraction-text-box {
  background-color: #fff;
  padding: 25px 30px;
  text-align: left;
  transition: .3s ease-in-out;
}

.attraction-link:hover .attraction-text-box {
  background-color: #550adf;
  color: #fff;
}

.attraction-tit {
  display: block;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}

.attraction-desc {
  color: #555;
  font-size: 16px;
  transition: .3s ease-in-out;
}

.attraction-link:hover .attraction-desc {
  color: #fff;
}

.attraction-sec .btn-wrapper {
  margin-top: 60px;
}

.attraction-sec .btn {
  padding: 0 43px;
}

.attraction-sec .btn-fill {
  margin-right: 20px;
}

/* News Section */
.news-sec {
  padding: 120px 0;
}

.news-sec .sec-main {
  padding-top: 50px;
  margin-top: 60px;
  border-top: 1px solid #d9d9d9;
}

.news-top {
  margin-bottom: 50px;
}

.sec-main .sub-tit {
  font-size: 22px;
  font-weight: 700;
}

.special {
  margin-top: 40px;
}

.special-item {
  float: left;
}

.special-item ~ .special-item {
  margin-left: 22px;
}

.special-img-box {
  position: relative;
}

.special-link:hover .m-o-shadow::before {
  transform: scale(1);
}

.special-img-box img {
  position: relative;
}

.special-text-box {
  margin-top: 30px;
  font-size: 20px;
  transition: .2s ease-in-out;
}

.special-link:hover .special-text-box {
  color: #550adf;
  font-weight: 700;
}

.news-bottom section {
  width: calc(50% - 11px);
  height: 256px;
}

.notice {
  position: relative;
  float: left;
  padding: 40px;
  border: 1px solid #d9d9d9;
}

.notice-list {
  margin-top: 15px;
}

.notice-link {
  line-height: 36px;
}

.notice-tit {
  float: left;
  width: 320px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notice-link:hover .notice-tit {
  text-decoration: underline;
}

.notice-date {
  float: right;
  color: #555;
  font-size: 16px;
}

.notice-more {
  position: absolute;
  top: 40px;
  right: 40px;
}

.notice-more a {
  background: url(../assets/icon/main_more_icon.png) no-repeat right 0 top 0 / auto 100%;
  padding-right: 30px;
  color: #555;
  font-size: 15px;
  line-height: 20px;
}

.ad-banner {
  float: right;
}

/* Footer */
footer {
  padding: 50px 0 90px;
  border-top: 1px solid #d9d9d9;
}

.footer-top {
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.footer-menu {
  text-align: center;
  font-size: 0;
}

.footer-menu-item {
  display: inline-block;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}

.footer-menu-item ~ .footer-menu-item {
  margin-left: 49px;
}

.privacy {
  color: #e10000;
}

.footer-bottom {
  position: relative;
  padding-top: 30px;
}

.f-logo {
  float: left;
}

.f-cont {
  float: left;
  padding-left: 60px;
}

.company-info {
  margin-bottom: 20px;
  color: #555;
  font-size: 15px;
}

.info-box {
  position: relative;
  float: left;
  line-height: 1.7;
}

.company-info .division-line {
  margin-left: 11px;
  padding-left: 11px;
}

.company-info .division-line::before {
  height: 13px;
}

.info-tit::after {
  content: ":";
  margin: 0 2px;
}

.copy {
  color: #777;
  font-size: 13px;
}

.f-mark {
  margin-top: 30px;
  color: #333;
  font-size: 13px;
}

.isms, .isms2 {
  float: left;
}

.isms-link {
  background: url(../assets/isms_icon.png) no-repeat 0 0 / auto 100%;
  display: block;
  height: 37px;
  padding-left: 55px;
  padding-top: 3px;
}

.isms-info {
  line-height: 1.3;
}

.isms-info .division-line {
  position: relative;
  margin-left: 5px;
  padding-left: 5px;
}

.isms-info .division-line::before {
  height: 11px;
}

.isms2 {
  background: url(../assets/isms_icon2.jpg) no-repeat 0 0 / auto 100%;
  height: 40px;
  margin-left: 5px;
  padding-left: 65px;
  line-height: 40px;
}

.f-site {
  float: right;
  width: 380px;
}

.sns-list {
  float: left;
  margin-top: 6px;
}

.sns {
  float: left;
}

.sns ~ .sns {
  margin-left: 10px;
}

.family-site {
  float: right;
  width: 210px;
  height: 46px;
}

.family-site select {
  width: 100%;
  height: 100%;
  color: #555;
  font-size: 15px;
  padding-left: 15px;
  border: 1px solid #e0e0e0;
}

.f-banner {
  position: absolute;
  right: 0;
  bottom: 0;
}